*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: monospace;
}

/*========================[ Navigation Bar ]===============================================*/

nav{
    background-color: blueviolet;
    height: 80px;
    width: 100%;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin-right: 20px;
}

nav ul li a{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
}

nav ul li a:hover{
    background-color:rgb(65, 6, 120);
    transition: 0.5s;
}

.logo{
    font-size: 35px;
    color: white;
    font-weight: bold;
    padding: 0 20px;
    line-height: 80px;
}

/*==========================================================================================*/